<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Machine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
      <Machine.Properties.Settings>
        <setting name="MachineID" serializeAs="String">
          <value>M0242</value>
        </setting>
        <setting name="PortRFID" serializeAs="String">
          <value>COM3</value>
        </setting>
        <setting name="PortBarcode" serializeAs="String">
          <value>COM1</value>
        </setting>
        <setting name="MonitoringServerIP" serializeAs="String">
          <value>10.131.2.87</value>
        </setting>
        <setting name="TableProductsName" serializeAs="String">
          <value>ProductsMod6</value>
        </setting>
        <setting name="TableSensorsName" serializeAs="String">
          <value>Tbl_ResuMachine6</value>
        </setting>
        <setting name="TraceabilityDBName" serializeAs="String">
          <value>AssemTrace</value>
        </setting>
        <setting name="ProductsServerIP" serializeAs="String">
          <value>qsn.corp.sensata.com</value>
        </setting>
        <setting name="TraceabilityMachinesDBName" serializeAs="String">
          <value>MachinesTrace</value>
        </setting>
        <setting name="LocalTableName" serializeAs="String">
          <value>Sensors</value>
        </setting>
        <setting name="LocalDBname" serializeAs="String">
          <value>Mod6MX</value>
        </setting>
        <setting name="ProcessFlowLog" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="ShowCloseLotErrors" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="PlcIP" serializeAs="String">
          <value>192.168.250.1</value>
        </setting>
        <setting name="PortMarkLaser" serializeAs="String">
          <value>COM4</value>
        </setting>
        <setting name="TraceabilityServerIP" serializeAs="String">
          <value>qsn.corp.sensata.com</value>
        </setting>
        <setting name="MachineName" serializeAs="String">
          <value>Mod68</value>
        </setting>
        <setting name="RomanShifts" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="ChipLot" serializeAs="String">
          <value />
        </setting>
        <setting name="StartSN" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="CurrentSN" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="Traceability" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="ShowEndLotWindow" serializeAs="String">
          <value>False</value>
        </setting>
      </Machine.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
